p {
	margin: 0;
}

h2 {
	text-align: center;
	color: black;
}

h4 {
	text-align: center;
	color: black;
}

input {
	height: 40px;
	width: 300px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-left: 8px;
}

.App {
	background-color: #29313d;
	text-align: center;
	display: flex;
	justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.editPlayer {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.exchangeContainer {
	width: 40%;
}

.label {
	color: silver;
	margin-right: 10px;
}

.rate {
	color: #1aff1a;
	margin-right: 10px;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.even {
	justify-content: space-evenly;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mLA {
	margin-left: auto;
}

.exchangeHeader {
	padding: 10px;
	border-bottom: 1px solid silver;
}

.sum {
	margin-right: 5px;
}

.orderLogo {
	height: 30px;
	width: 30px;
}

.cell25 {
	width: 25%;
}

.alignLeft {
	display: flex;
	justify-content: flex-start;
}

.alignRight {
	display: flex;
	justify-content: flex-end;
}

.marketSelector {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.header {
	color: #1ad1ff;
}

.headerText {
	font-size: 20px;
	padding-bottom: 10px;
	color: gold;
}

.coin {
	padding-left: 5px;
	color: silver;
}

.loader {
	margin-right: auto;
	margin-left: auto;
}

.leaderBoard {
	width: 60%;
}

.playerContainer {
	border: 1px solid silver;
}

.boardHeader {
	background: silver;
	color: black;
	height: 35px;
	display: flex;
	align-items: center;
	padding: 5px 5px 5px 5px;
}

.nameSpace {
	width: 46%;
	display: flex;
	align-items: center;
}

.otherSpace {
	width: 25%;
	display: flex;
	align-items: center;
}

.index {
	padding: 9px 5px 5px 5px;
}

.error {
	color: red;
	margin: 0;
}

.invisible {
	display: none;
}

.visible {
	display: flex;
}

.penBox {
	cursor: pointer;
	padding: 5px;
}

.penBox:hover {
	color: #078248;
}

.player {
	padding: 5px 5px 5px 0px;
}

.country {
	color: red;
	margin-left: 10px;
}

.flag {
	width: 35px;
	height: 30px;
}

.name {
	color: #cc0000;
	font-size: 20px;
}

.fa {
	font-size: 1.5em;
}

.fa-2x {
	font-size: 2.5em;
}


@media (max-width: 800px) {
	.leaderBoard {
		width: 90%;
	}
}

@media (max-width: 450px) {
	.leaderBoard {
		width: 90%;
	}

	input {
		width: 90%;
	}

	.flag {
		width: 25px;
		height: 20px;
	}
	
	p {
		font-size: 12px;
	}

	.name {
    font-size: 15px;
	}

	.fa {
		font-size: 1em;
	}

	h2 {
		font-size: 20px;
	}

	.fa-2x {
		font-size: 2em;
		margin-bottom: 30px;
	}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
}